body {
    padding: 0;
    margin: 0;
    background: #F4F6FE;
}

.friendslist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.friendslist__centercontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    width: calc(100% - 726px);
    height: calc(100vh - 390px);
    padding-top: 20px;
    transition: all 1s ease;
}

.friendslist__title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 10px;
}

.friendslist__title>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    color: #B1B9DB;
    padding-left: 40px;
}

.friendslist__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow-y: auto;
    width: 100%;
    padding: 0px 40px 20px;
    box-sizing: border-box;
}

.friendslist__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
    border-radius: 8px;
}

.friendslist__card>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.friendslist__card img {
    border-radius: 4px;
    margin: 14px;
    width: 60px;
    height: 60px;
}

.friendslist__card>div>div {
    position: relative;
}

.friendslist__ellipse {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    left: 10px;
    top: 11px;
    position: absolute;
    background: #16BA44;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.friendslist__elementsgrouping {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    margin: 18px 0px;
}

.friendslist__elementsgrouping>span {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    word-break: break-word;
}

.friendslist__elementsgrouping div {
    border: 1px solid #B1B9DB;
    border-radius: 20px;
    padding: 0px 8px;
}

.friendslist__elementsgrouping div>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B1B9DB;
    word-break: break-word;
}

.friendslist__button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;

    width: 93px;
    height: 40px;

    background: #2E57FA;
    border: 1px solid #0637F9;
    border-radius: 4px;
    margin: 24px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: all 1s ease;
    cursor: pointer;
}

.friendslist__button:hover {
    background: #0637F9;
}

.friendslist__button:hover {
    background: #0637F9;
}

.friendslist__button:hover {
    background: #052DCC;
}

.friendslist__list::-webkit-scrollbar {
    -webkit-appearance: none;
}

.friendslist__list::-webkit-scrollbar:vertical {
    width: 5px;
}

.friendslist__list::-webkit-scrollbar-button:increment,
.friendslist__list::-webkit-scrollbar-button {
    display: none;
}

.friendslist__list::-webkit-scrollbar-thumb {
    position: absolute;
    width: 5px;
    height: 46px;

    background: #B1B9DB;
    border-radius: 8px;
}

.friendslist__list::-webkit-scrollbar-track {
    position: absolute;
    width: 5px;
    height: 552px;

    background: rgba(177, 185, 219, 0.3);
    border-radius: 8px;
}

@media screen and (max-width : 767px) {

    .friendslist__centercontainer {
        width: calc(100% - 16px);
    }

    .friendslist__card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .friendslist__card>div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .friendslist__elementsgrouping {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px 16px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .friendslist__centercontainer {
        width: calc(100% - 272px);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .friendslist__centercontainer {
        width: calc(100% - 440px);
    }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .friendslist__centercontainer {
        width: calc(100% - 726px);
    }
}