/*CSS for Friends Details Pages*/

.friends_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    height: 100vh;
}

.friends_details__back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}

.friends_details>div {
    height: calc(100vh - 120px);
}

.friends_details__centercontainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    width: calc(100% - 832px);
    transition: all 1s ease;
}

.friends_details__image {
    border-radius: 4px;
    width: 150px;
    height: 150px;
}

.friends_details__infoavatar {
    margin: 60px 60px 0px;
}

.friends_details__infoavatar>div {
    position: relative;
}

.friends_details__ellipse {
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    left: -9px;
    top: -9px;
    position: absolute;
    background: #16BA44;
    border: 4px solid #FFFFFF;
    border-radius: 15px;
}

.friends_details__elementsgrouping {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    margin-top: 23px;
}

.friends_details__elementsgrouping>span {
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #000000;
    word-break: break-word;
}

.friends_details__elementsgrouping div {
    border: 1px solid #B1B9DB;
    border-radius: 20px;
    padding: 0px 8px;
}

.friends_details__elementsgrouping div>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B1B9DB;
    word-break: break-word;
}

.friends_details__centercontainer ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 0px;
    margin: 0px;
}

.friends_details__centercontainer ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;
    list-style-type: none;
}

.friends_details__centercontainer ul li>a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.friends_details__centercontainer ul li:first-child {
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.friends_details__tab {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    margin: 0px 60px 60px;
}

/*Page Friends Details Info*/

.friends_details_info__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
    gap: 28px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
    border-radius: 8px;
}

.friends_details_info__card__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B1B9DB;
}

.friends_details_info__card__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.friends_details_info__card__line {
    width: 100%;
    border: 1px solid rgba(177, 185, 219, 0.5);
}

.friends_details_info__card>div:nth-child(2n+1) {
    display: flex;
    flex-direction: row;
}

.friends_details_info__card>div:nth-child(2n) {
    display: flex;
    flex-direction: row;
}

.friends_details_info__card>div>span {
    width: 50%;
}

.friends_details_info__card>div:first-child>span {
    width: 100%;
    text-align: justify;
}

.friends_details_info__card>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

/*Page Friends Details Photos*/

.friends_details_photos__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
    gap: 28px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
    border-radius: 8px;
}

.friends_details_photos__card__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B1B9DB;
}

.friends_details_photos__card__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.friends_details_photos__card__line {
    width: 100%;
    border: 1px solid rgba(177, 185, 219, 0.5);
}

.friends_details_photos__card>div:nth-child(2n+1) {
    display: flex;
    flex-direction: row;
}

.friends_details_photos__card>div:nth-child(2n) {
    display: flex;
    flex-direction: row;
}

.friends_details_photos__card>div>span {
    width: 50%;
}

.friends_details_photos__card>div:first-child>span {
    width: 100%;
    text-align: justify;
}

.friends_details_photos__card>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}