/*CSS for Friends Details Pages*/

.friends_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    height: 100vh;
}

.friends_details__back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}

.friends_details>div:nth-child(1) {
    height: 904px;
}

.friends_details>div:nth-child(2) {
    height: 904px;
}

.friends_details__centercontainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    max-width: 608px;
    transition: all 1s ease;
}

.friends_details__image {
    border-radius: 4px;
    width: 150px;
    height: 150px;
}

.friends_details__infoavatar {
    margin: 60px 60px 0px;
}

.friends_details__infoavatar>div {
    position: relative;
}

.friends_details__ellipse {
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    left: -9px;
    top: -9px;
    position: absolute;
    background: #16BA44;
    border: 4px solid #FFFFFF;
    border-radius: 15px;
}

.friends_details__elementsgrouping {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    margin-top: 23px;
}

.friends_details__elementsgrouping>span {
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #000000;
    word-break: break-word;
}

.friends_details__elementsgrouping div {
    border: 1px solid #B1B9DB;
    border-radius: 20px;
    padding: 0px 8px;
}

.friends_details__elementsgrouping div>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B1B9DB;
    word-break: break-word;
}

.friends_details__centercontainer ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 0px;
    margin: 0px 60px;
}

.friends_details__centercontainer ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;
    list-style-type: none;
}

.friends_details__centercontainer ul li {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #5C5F6B;
    cursor: pointer;
}

.friends_details__centercontainer ul li:hover {
    color: #000000;
}

.friends_details__centercontainer ul li.active {
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    color: #000000;
}

.friends_details__tab {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    overflow: hidden;
}

/*Card Friends Details Info*/

.friends_details_info__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
    gap: 28px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
    border-radius: 8px;
    box-sizing: border-box;
    width: 488px;
    height: 474px;
    margin: 0px 60px 60px;
}

.friends_details_info__card p {
    padding: 0px;
    margin: 0px;
}

.friends_details_info__card::-webkit-scrollbar {
    -webkit-appearance: none;
}

.friends_details_info__card::-webkit-scrollbar:vertical {
    width: 5px;
}

.friends_details_info__card::-webkit-scrollbar-button:increment,
.friends_details_info__card::-webkit-scrollbar-button {
    display: none;
}

.friends_details_info__card::-webkit-scrollbar-thumb {
    position: absolute;
    width: 5px;
    height: 46px;

    background: #B1B9DB;
    border-radius: 8px;
}

.friends_details_info__card::-webkit-scrollbar-track {
    position: absolute;
    width: 5px;
    height: 552px;

    background: rgba(177, 185, 219, 0.3);
    border-radius: 8px;
}

.friends_details_info__card__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B1B9DB;
}

.friends_details_info__card__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    word-break: break-word;
}

.friends_details_info__card__line {
    width: 100%;
    border: 1px solid rgba(177, 185, 219, 0.5);
}

.friends_details_info__card__basicInfo {
    display: flex;
    gap: 14px;
    flex-direction: column;
}

.friends_details_info__card__basicInfo>div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.friends_details_info__card__basicInfo>div>span {
    width: 50%;
}

.friends_details_info__card>div:first-child>span {
    width: 100%;
    text-align: justify;
}

.friends_details_info__card>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.friends_details_info__card>div:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.friends_details_info__card>div>span {
    width: 50%;
}

/*Card Friends Details Photos*/

.friends_details_photos__card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgb(204 208 223 / 50%);
    border-radius: 8px;
    box-sizing: border-box;
    width: 488px;
    height: 488px;
    margin: 0px 60px 46px;
}

.friends_details_photos__card::-webkit-scrollbar {
    -webkit-appearance: none;
}

.friends_details_photos__card::-webkit-scrollbar:vertical {
    width: 5px;
}

.friends_details_photos__card::-webkit-scrollbar-button:increment,
.friends_details_photos__card::-webkit-scrollbar-button {
    display: none;
}

.friends_details_photos__card::-webkit-scrollbar-thumb {
    position: absolute;
    width: 5px;
    height: 46px;

    background: #B1B9DB;
    border-radius: 8px;
}

.friends_details_photos__card::-webkit-scrollbar-track {
    position: absolute;
    width: 5px;
    height: 552px;

    background: rgba(177, 185, 219, 0.3);
    border-radius: 8px;
}

.friends_details__imagecard {
    cursor: pointer;
    transition: 0.3s;
    width: 136px;
    height: 136px;
}

.friends_details__imagecard>img {
    object-fit: cover;
    width: 136px;
    height: 136px;
    border-radius: 4px;
}

.friends_details__imagecard:hover {
    opacity: 0.7;
}

/*Modal*/

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    flex-direction: column;
    align-items: center;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    width: 100%;
    /* Full width */
    height: 100vh;
    /* Full height */
    background-color: rgb(55, 62, 90);
    /* Fallback color */
    background-color: rgba(55, 62, 90, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.3));
    border-radius: 4px;
    width: 985px;
    height: 656px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 60px;
    right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: 0.3s;
}

.close>img {
    width: 16px;
    height: 16px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-height : 1023px) {
    .friends_details {
        align-items: inherit;
    }
}