.friends_details_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    height: 100vh;
}

.friends_details_info__back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
}

.friends_details_info>div {
    height: calc(100vh - 120px);
}

.friends_details_info__centercontainer {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    width: calc(100% - 832px);
    height: calc(100vh - 120px);
    transition: all 1s ease;
}

.friends_details_info__centercontainer img {
    border-radius: 4px;
    width: 150px;
    height: 150px;
}

.friends_details_info__centercontainer>div>div {
    position: relative;
}

.friends_details_info__ellipse {
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    left: -9px;
    top: -9px;
    position: absolute;
    background: #16BA44;
    border: 4px solid #FFFFFF;
    border-radius: 15px;
    float: inline-start;
}

.friends_details_info__elementsgrouping {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    margin: 18px 0px;
}

.friends_details_info__elementsgrouping>span {
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #000000;
    word-break: break-word;
}

.friends_details_info__elementsgrouping div {
    border: 1px solid #B1B9DB;
    border-radius: 20px;
    padding: 0px 8px;
}

.friends_details_info__elementsgrouping div>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B1B9DB;
    word-break: break-word;
}

.friends_details_info__card {

}