/*CSS for Page Body*/

body {
    padding: 0;
    margin: 0;
    background: #F4F6FE;
}

/****CSS for Loader****/

.profileslist__loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.profileslist__loader {
    width: 20px;
    height: 20px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.profileslist__list {
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/****CSS for Profiles List Page****/

.profileslist {
    display: flex;
    flex-direction: column;
    /*Elements centered vertically and horizontally*/
    align-items: center;
    justify-content: center;
    /*Full width and height of the screen*/
    width: 100%;
    height: 100vh;
}

/*Centered container where the list is displayed*/
.profileslist__centercontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    /*Calculate the width and height of the container considering the margins*/
    width: calc(100% - 726px);
    height: calc(100vh - 390px);
    padding-top: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    transition: all 1s ease;
}

/***Title 'Friends'***/

/*Centered container title (Friends)*/
.profileslist__title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0px;
}

/*Span element containing the title of the centered container*/
.profileslist__title>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    color: #B1B9DB;
    padding-left: 40px;
}

/*Profile list container*/
.profileslist__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    padding: 0px 40px 20px;
    /*Vertical scroll bar*/
    overflow-y: auto;
    box-sizing: border-box;
}

/***CSS for profile cards and its elements***/

/*Profile card with status, photo and link to details*/
.profileslist__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
    border-radius: 8px;
}

/*Container of the first block of elements (status, photos and text) of the profile card*/
.profileslist__card>div {
    display: flex;
    flex-direction: row;
    /*Centered vertically*/
    align-items: center;
    /*Aligned to start*/
    justify-content: flex-start;
}

/*Profile card image*/
.profileslist__card img {
    width: 60px;
    height: 60px;
    margin: 14px;
    border-radius: 4px;
}

/*Image and ellipse container*/
.profileslist__card>div>div {
    position: relative;
}

/*Ellipse showing profile status*/
.profileslist__ellipse {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 10px;
    top: 11px;
    box-sizing: border-box;
    background: #16BA44;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

/*Status not available*/
.profileslist__ellipse_not_available {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 10px;
    top: 11px;
    box-sizing: border-box;
    background: #B1B9DB;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

/***CSS for profile name and status description***/

/*Container for the profile name and state description*/
.profileslist__elementsgrouping {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin: 18px 0px;
    padding: 0px;
}

/*Span element containing the name of the profile*/
.profileslist__elementsgrouping>span {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    /*Break the words if necessary*/
    word-break: break-word;
}

/*Rounded div element containing the profile status description*/
.profileslist__elementsgrouping div {
    padding: 0px 8px;
    border: 1px solid #B1B9DB;
    border-radius: 20px;
}

/*Span element containing the description of the profile state*/
.profileslist__elementsgrouping div>span {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #B1B9DB;
    /*Break the words if necessary*/
    word-break: break-word;
}

/***CSS for button 'Details'***/

/*Button to access profile details*/
.profileslist__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 93px;
    height: 40px;

    margin: 24px;
    padding: 8px 20px;

    background: #2E57FA;
    border: 1px solid #0637F9;
    border-radius: 4px;
    color: #FFFFFF;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    box-sizing: border-box;

    cursor: pointer;

    transition: all 1s ease;
}

/*Button 'Details' hover*/
.profileslist__button:hover {
    background: #0637F9;
}

/*Button 'Details' pressed*/
.profileslist__button:active {
    background: #052DCC;
}

/***CSS for profile list vertical scrollbar***/

/*Scroll bar appearance*/
.profileslist__list::-webkit-scrollbar {
    -webkit-appearance: none;
}

/*Vertical scroll bar width*/
.profileslist__list::-webkit-scrollbar:vertical {
    width: 5px;
}

/*Don't show scrollbar up and down buttons*/
.profileslist__list::-webkit-scrollbar-button:increment,
.profileslist__list::-webkit-scrollbar-button {
    display: none;
}

/*The slider. The piece or car that moves on the rail*/
.profileslist__list::-webkit-scrollbar-thumb {
    position: absolute;
    width: 5px;
    height: 46px;
    background: #B1B9DB;
    border-radius: 8px;
}

/*The general container of all the rest of elements*/
.profileslist__list::-webkit-scrollbar-track {
    position: absolute;
    width: 5px;
    height: 552px;
    background: rgba(177, 185, 219, 0.3);
    border-radius: 8px;
}

/***Dimensions for responsive design***/

/*CSS for devices with small screens*/
@media screen and (max-width : 767px) {

    .profileslist__centercontainer {
        width: calc(100% - 16px);
    }

    .profileslist__card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profileslist__card>div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profileslist__elementsgrouping {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 16px;
        text-align: center;
    }
}

/*CSS for devices with medium screens*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .profileslist__centercontainer {
        width: calc(100% - 272px);
    }
}

/*CSS for the rest of devices*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .profileslist__centercontainer {
        width: calc(100% - 726px);
    }
}

/****CSS for Profiles Details Page****/

.profiles_details {
    display: flex;
    flex-direction: row;
    /*Elements centered vertically and horizontally*/
    align-items: center;
    justify-content: center;
    gap: 80px;
    /*Full width and height of the screen*/
    width: 100%;
    height: 100vh;
}

/***CSS for Back Button***/

/*Back button container in top left corner*/
.profiles_details__back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}

/*Back button container height*/
.profiles_details>div:nth-child(1) {
    height: 904px;
}

/***CSS for Centered container***/

/*Centered container height of profile details*/
.profiles_details>div:nth-child(2) {
    height: 904px;
}

/*Centered container of profile details*/
.profiles_details__centercontainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 608px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    transition: all 1s ease;
}

/***CSS for profile name and status description***/

/*Profile image in profile details*/
.profiles_details__image {
    width: 150px;
    height: 150px;
    border-radius: 4px;
}

/*Image, status and text container of profile details*/
.profiles_details__infoavatar {
    margin: 60px 60px 0px;
}

/*Container of the description and image of the profile*/
.profiles_details__infoavatar>div {
    position: relative;
}

/*Ellipse showing profile status*/
.profiles_details__ellipse {
    position: absolute;
    width: 23px;
    height: 23px;
    left: -9px;
    top: -9px;
    background: #16BA44;
    border: 4px solid #FFFFFF;
    border-radius: 15px;
    box-sizing: border-box;
}

/*Status not available*/
.profiles_details__ellipse_not_available {
    position: absolute;
    width: 23px;
    height: 23px;
    left: -9px;
    top: -9px;
    background: #B1B9DB;
    border: 4px solid #FFFFFF;
    border-radius: 15px;
    box-sizing: border-box;
}

/*Container for the profile name and status description*/
.profiles_details__elementsgrouping {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 23px;
    padding: 0px;
}

/*Span element containing the name of the profile*/
.profiles_details__elementsgrouping>span {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    /*Break the words if necessary*/
    word-break: break-word;
}

/*Rounded div element containing the profile status description*/
.profiles_details__elementsgrouping div {
    padding: 0px 8px;
    border: 1px solid #B1B9DB;
    border-radius: 20px;
}

/*Span element containing the description of the profile state*/
.profiles_details__elementsgrouping div>span {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #B1B9DB;
    /*Break the words if necessary*/
    word-break: break-word;
}

/***CSS for Tabs***/

/*Container of the tab elements*/
.profiles_details__centercontainer ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin: 0px 60px;
    padding: 0px;
}

/*Tab elements*/
.profiles_details__centercontainer ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 8px 20px;

    list-style-type: none;
    text-decoration: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #5C5F6B;

    cursor: pointer;
}

/*Tab elements hover*/
.profiles_details__centercontainer ul li:hover {
    color: #000000;
}

/*Tab element selected*/
.profiles_details__centercontainer ul li.active {
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    color: #000000;
}

/*Tab Container*/
.profiles_details__tab {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    overflow: hidden;
}

/***Card Profile Details Info***/

/*Profile info card details*/
.profiles_details_info__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;

    width: 488px;
    height: 474px;

    margin: 0px 60px 60px;
    padding: 28px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
    border-radius: 8px;

    box-sizing: border-box;
}

/***CSS for profile detail info vertical scrollbar***/

/*Scroll bar appearance*/
.profiles_details_info__card::-webkit-scrollbar {
    -webkit-appearance: none;
}

/*Vertical scroll bar width*/
.profiles_details_info__card::-webkit-scrollbar:vertical {
    width: 5px;
}

/*Don't show scrollbar up and down buttons*/
.profiles_details_info__card::-webkit-scrollbar-button:increment,
.profiles_details_info__card::-webkit-scrollbar-button {
    display: none;
}

/*The slider. The piece or car that moves on the rail*/
.profiles_details_info__card::-webkit-scrollbar-thumb {
    position: absolute;
    width: 5px;
    height: 46px;

    background: #B1B9DB;
    border-radius: 8px;
}

/*The general container of all the rest of elements*/
.profiles_details_info__card::-webkit-scrollbar-track {
    position: absolute;
    width: 5px;
    height: 552px;

    background: rgba(177, 185, 219, 0.3);
    border-radius: 8px;
}

/*Information card label*/
.profiles_details_info__card__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B1B9DB;
}

/*Text of the label of the information card*/
.profiles_details_info__card__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    /*Break the words if necessary*/
    word-break: break-word;
}

/*Horizontal line of the information card*/
.profiles_details_info__card__line {
    width: 100%;
    border: 1px solid rgba(177, 185, 219, 0.5);
}

/*First element of the information card 'Bio'*/
.profiles_details_info__card>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px;
}

/*Second element of the information card 'Phone'*/
.profiles_details_info__card>div:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 0px;
}

/*Last block of basic information elements of profile*/
.profiles_details_info__card__basicInfo {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/*Elements of the last block of the information card*/
.profiles_details_info__card__basicInfo>div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 0px;
}

/*The elements of the information card occupy 50% of its space*/
.profiles_details_info__card>div>span {
    width: 50%;
}

/*The elements of the last block of the information card occupy 50% of its space*/
.profiles_details_info__card__basicInfo>div>span {
    width: 50%;
}

/*The first element of the information card occupies 100% of its space*/
.profiles_details_info__card>div:first-child>span {
    width: 100%;
    text-align: justify;
}

/***Card Profile Details Photos***/

/*Profile photos card details*/
.profiles_details_photos__card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    width: 488px;
    height: 488px;

    margin: 0px 60px 46px;
    padding: 20px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgb(204 208 223 / 50%);
    border-radius: 8px;

    box-sizing: border-box;
}

/***CSS for profile detail photos vertical scrollbar***/

/*Scroll bar appearance*/
.profiles_details_photos__card::-webkit-scrollbar {
    -webkit-appearance: none;
}

/*Vertical scroll bar width*/
.profiles_details_photos__card::-webkit-scrollbar:vertical {
    width: 5px;
}

/*Don't show scrollbar up and down buttons*/
.profiles_details_photos__card::-webkit-scrollbar-button:increment,
.profiles_details_photos__card::-webkit-scrollbar-button {
    display: none;
}

/*The slider. The piece or car that moves on the rail*/
.profiles_details_photos__card::-webkit-scrollbar-thumb {
    position: absolute;
    width: 5px;
    height: 46px;

    background: #B1B9DB;
    border-radius: 8px;
}

/*The general container of all the rest of elements*/
.profiles_details_photos__card::-webkit-scrollbar-track {
    position: absolute;
    width: 5px;
    height: 552px;

    background: rgba(177, 185, 219, 0.3);
    border-radius: 8px;
}

/***CSS for the gallery***/

/*Image thumbnail container*/
.profiles_details__imagecard {
    width: 136px;
    height: 136px;
    cursor: pointer;
    transition: 0.3s;
}

/*Image Thumbnail*/
.profiles_details__imagecard>img {
    width: 136px;
    height: 136px;
    object-fit: cover;
    border-radius: 4px;
}

/*Image thumbnail container hover*/
.profiles_details__imagecard:hover {
    opacity: 0.7;
}

/***Modal***/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    width: 100%;
    height: 100vh;

    background-color: rgb(55, 62, 90);
    /* Fallback color */
    background-color: rgba(55, 62, 90, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    display: block;

    width: 985px;
    height: 656px;

    margin: auto;

    filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.3));
    border-radius: 4px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 44px;
    height: 44px;

    top: 60px;
    right: 60px;
    padding: 10px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;

    transition: 0.3s;
}

/*Close button icon*/
.close>img {
    width: 16px;
    height: 16px;
}

/*Close button hover and focus*/
.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

/***Dimensions for responsive design***/

/*CSS for devices with small screens*/

@media only screen and (max-height : 1023px) {
    .profiles_details {
        align-items: inherit;
    }
}