html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #F4F6FE;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}